.container {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hornedBeasts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.beastImg {
  height: 300px;
  object-fit: contain;
}

.inputField {
  display: flex;
  justify-content: center;
}
